{% extends "layout.html" %}

{% block title %}
    Add Subject
{% endblock %}

{% block main %}
    <form action="/addS" method="POST">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="subject" required>
                <option selected="">I want to learn...</option>
                {% for subject in subjects %}
                    <option value = {{ subject["sub_id"] }}>{{ subject["name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add Subject</button>
    </form>
{% endblock %}