{% extends "layout.html" %}
{% block title %}
    Teachers
{% endblock %}

{% block main %}
    <form action="/teacher" method="POST">
        <div class="mb-3">
            <!--to maintain the same formating id is assigned username-->
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="link" placeholder="Class Link" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update Link</button><br><br>
    </form>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Students</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student["username"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}